{% load static %}
<!--
                <div class="uk-grid" style="display: flex; justify-content: center;">
                    <div class="uk-width-2-3@xl">
                        
                        <div style="display: flex; justify-content: space-evenly; width: 100%; height: 99px;">
                        
                        <div class="score" id="p1-score">0</div>
                        <h1 class="title" id="game-status">Pong</h1>
                        <div class="score" id="p2-score">0</div>
                        </div>
                        <canvas id="pongContainer"></canvas>
                        <span>Yeni oyun için herhangi bir tuşa basın.</span>
                      

                    </div>
                    
                </div>
            -->
<div class="widjet__body">
  <h4>Oyun Ayarları</h4>
  <div
    class="uk-grid uk-child-width-1-6@xl uk-child-width-1-3@l uk-child-width-1-2@s uk-flex-middle uk-grid-small"
    data-uk-grid
  >
    <form style="display: flex; width: 106%">
      <div>
        <select name="sayi" class="uk-input">
          <option value="2">Galibiyet Sayısı</option>
          <option value="3">3</option>
          <option value="5">5</option>
          <option value="10">10</option>
        </select>
      </div>
      <div>
        <input
          class="uk-input"
          id="name"
          name="name"
          type="text"
          placeholder="Rakip Adı"
        />
      </div>
      <a class="uk-margin-small-left" id="gamesetting">Başla</a>
    </form>
  </div>
</div>
<div class="uk-grid" style="display: flex; justify-content: center">
  <div class="uk-width-2-3@xl">
    <div
      style="
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        height: 99px;
      "
    >
      <canvas></canvas>
    </div>
  </div>
</div>
