{% load static %}
<div class="page-wrapper">
        <main class="page-first-screen">
            <div class="uk-grid uk-grid-middle uk-child-width-2-2@s uk-flex-middle uk-width-1-1" data-uk-grid>
                <div style="justify-content: center;align-items: center;display: flex;"><div class="form-login" style="margin-left: 0px;">
                    <div class="uk-heading-line uk-text-center"  id="success-message"  style="color:green;text-align: center;margin-bottom: 10px;font-size: 22px;"></div>
                        <div class="form-login__social">
                            <ul class="social" style="display: flex;text-align: center;">
                                <li><a href="#"><img src="{% static 'media/42logo.png' %}" width="10%" alt="42 Login"></a></li>
                            </ul>
                        </div>
                        <div class="form-login__box">
                            <form id="loginForm">
                                {% csrf_token %}
                                <div class="uk-margin"><input class="uk-input" id="kod" name="kod" type="text" placeholder="Kodu Girin"></div>
                                <div class="uk-margin"><button class="uk-button uk-button-danger uk-width-1-1"  type="button"  id="keylogin" type="button">Doğrula</button></div>
                                <div class="uk-text-center"><span>Hesabınız yok mu?</span><a class="uk-margin-small-left" id="register">Üye Ol</a></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>