{% load static %}
<div class="page-wrapper">
        <main class="page-first-screen">
            <div class="uk-grid uk-grid-middle uk-child-width-2-2@s uk-flex-middle uk-width-1-1" data-uk-grid>
                <div style="justify-content: center;align-items: center;display: flex;"><div class="form-login" style="margin-left: 0px;">
                    <div class="form-login__social">
                        <ul class="social" style="display: flex;text-align: center;">
                            <li><a href="#"><img src="{% get_media_prefix %}media/42logo.png" width="10%" onclick="handleOauthClick(`{{ client_id }}`, `{{ redirect_uri }}`, `{{ response_type }}`, `{{ scope }}`)" alt="42 Login"></a></li> </ul>
                    </div>
                        <div class="form-login__box">
                            <div class="uk-heading-line uk-text-center"><span>veya Mail ile üye ol</span></div>
                            <form id="gamerForm">
                                {% csrf_token %}
                                <div class="uk-margin"><input class="uk-input" id="name" name="name" type="text" placeholder="Username"></div>
                                <div class="uk-margin"><input class="uk-input" id="email" type="email" name="email" placeholder="Email"></div>
                                <div class="uk-margin"><input class="uk-input" id="password" name="password" type="password" placeholder="Password"></div>
                                <div class="uk-margin"><button class="uk-button uk-button-danger uk-width-1-1" type="button" onclick="submitForm()">Kayıt Ol</button></div>
                                <div class="uk-text-center"><span>Hesabınız var mı ?</span><a class="uk-margin-small-left" id="loginpage">Giriş Yap</a></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>

   