{% load static %}

<div class="uk-grid" data-uk-grid>
    <div class="uk-width-3-3@l">
        <div class="widjet --filters">
            <div class="widjet__head">
                <h3 class="uk-text-lead">Taş Kağıt Makas</h3>
            </div>
            <div class="widjet__body">
                <div class="uk-grid uk-child-width-1-4@xl uk-child-width-1-2@s uk-flex-middle uk-grid-small" data-uk-grid>
                        <a class="uk-margin-small-left" id="rpscreate">Oyun Bul</a>  <a class="uk-margin-small-left" id="rpsplayer">Oyuncu Aranıyor...</a>
                        <a class="uk-margin-small-left" id="rpsplayertwo">Oyuncu Bulundu. Hamleni yap !  Süren: <div id="countdown">5</div> </a>
                        <h2 class="uk-margin-small-left" id="winner">Kazanan</h2>
                </div>
            </div>

            <div class="widjet__body" id="rpsbutton" style=" height: 109px;">

                  
            </div>

          
        </div>
    </div>
</div>