{% load static %}

<div class="uk-grid" data-uk-grid>
    <div class="uk-width-3-3@l">
        <div class="widjet --filters">
            <div class="widjet__head">
                <h3 class="uk-text-lead">Turnuvalar </h3>
            </div>
            <div class="widjet__body">
                <div class="uk-grid uk-child-width-1-4@xl uk-child-width-1-2@s uk-flex-middle uk-grid-small" data-uk-grid>
                    Turnuva Oluştur
                    <form style="display: flex;width: 106%;">
                        <div><input class="uk-input" id="name" name="name" type="text" placeholder="Turnuva Adı"></div>
                        <a class="uk-margin-small-left" id="tournamentcreate">Oluştur</a>
                    </form>
                </div>
            </div>
        </div>


        <div class="group-row">
            <ul id="youzify-groups-list" class="js-filter uk-grid-small uk-child-width-1-1 uk-child-width-1-5@xl uk-child-width-1-4@l uk-child-width-1 uk-child-width-1" data-uk-grid>
            </ul>
        </div>
    </div>


</div>